/* 임시 고딕 웹폰트 import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

html {
  /* 색상 변수 지정 */
  --main-orange: #FEAC18;
  --main-black: #000000;
  /* 임시 고딕 웹폰트 전역 사용 지정 */
  font-family: 'Noto Sans KR', sans-serif;
}

.main {
  text-align: center;
}

.brand-logo {
  height: 25vh;
  margin: 5vh auto;
  object-fit: cover;
}

.to-go {
  height: 25vh;
  margin: 0 10% 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-orange);
  border-radius: 15px;
  transition: all 0.1s linear;
}

.to-go:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.to-go h1 {
  color: var(--main-black);
  font-size: 2.2em;
  font-weight: 700;
}

.for-here {
  height: 25vh;
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-black);
  border-radius: 15px;
  transition: all 0.1s linear;
}

.for-here:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.for-here h1 {
  color: var(--main-orange);
  font-size: 2.2em;
  font-weight: 700;
}